<md-content
  class="md-no-flicker md-no-momentum"
  layout="column"
  layout-fill="true"
  ng-show="buscaCtrl.viewState === 'filter'">

  <div>
    <md-subheader>
      <%= strings.CATEGORIES %>
    </md-subheader>

    <div layout-padding>
      <div>
        <md-radio-group ng-model="buscaCtrl.filtros.categoria">
          <md-radio-button
            ng-repeat="categoria in buscaCtrl.categorias"
            ng-value="categoria.id">

            <label ng-bind="categoria.nome"></label>
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
  </div>

  <md-divider></md-divider>

  <div>
    <md-subheader>
      <%= strings.LOCALE %>
    </md-subheader>

    <div
      layout="row"
      layout-padding>

      <md-input-container>
        <label for="uf_select">
          <%= strings.UF %>
        </label>

        <md-select
          id="uf_select"
          ng-change="buscaCtrl.setSearched()"
          ng-model="buscaCtrl.filtros.uf">
        
          <md-option
            ng-repeat="estado in buscaCtrl.estados"
            ng-value="estado.sigla"
            ng-bind="estado.nome"></md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label for="cidade">
          <%= strings.CITY %>
        </label>

        <input
          id="cidade"
          ng-model="buscaCtrl.filtros.cidade"></input>
      </md-input-container>
    </div>
  </div>
  <md-button
    class="md-primary md-raised"
    aria-label="<%= strings.DO_SEARCH %>"
    md-ripple-size="full"
    ng-click="buscaCtrl.setViewState('result')">

    <%= strings.DO_SEARCH %>
  </md-button>
  {{buscaCtrl.filtros}}
</md-content>