<md-content
  class="md-no-flicker md-no-momentum"
  layout="column"
  layout-fill="true">

  <div>
    <md-subheader>
      <%= strings.CATEGORIES %>
    </md-subheader>

    <div layout-padding>
      <div>
        <md-radio-group ng-model="buscaCtrl.filtros.Categoria">
          <md-radio-button
            ng-repeat="categoria in buscaCtrl.categorias"
            ng-value="categoria.id">

            <label ng-bind="categoria.nome"></label>
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
  </div>

  <div>
    <md-subheader>
      <%= strings.LOCALE %>
    </md-subheader>

    <div
      layout="row"
      layout-padding>

      <md-input-container>
        <label for="uf_select">
          <%= strings.UF %>
        </label>

        <md-select
          id="uf_select"
          ng-change="buscaCtrl.setSearched()"
          ng-model="buscaCtrl.filtros.estado">
        
          <md-option
            ng-repeat="estado in buscaCtrl.estados"
            ng-value="estado.sigla"
            ng-bind="estado.nome"></md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label for="cidade">
          <%= strings.CITY %>
        </label>

        <input
          id="cidade"
          ng-model="buscaCtrl.filtros.cidade" />
      </md-input-container>
    </div>
  </div>

  <div layout="column" layout-padding="true">
    <md-button
      class="md-primary md-raised"
      aria-label="<%= strings.DO_SEARCH %>"
      md-ripple-size="full"
      ng-click="buscaCtrl.carregarOfertas(buscaCtrl.filtros)">

      <%= strings.DO_SEARCH %>
    </md-button>
  </div>
</md-content>