<md-content
  class="md-no-flicker md-no-momentum"
  layout="column">

  <div>
    <md-subheader>
      <%= strings.CATEGORIES %>
    </md-subheader>

    <div layout-padding>
      <div>
        <md-grid-list md-cols="3" md-gutter="1px" md-row-height="2:1">
          <md-grid-tile ng-click="ctrl.setCategoriaSelecionada(1)">
            <img ng-src="assets/images/icones_busca/legumes.png" style="width: 100%" alt="Legumes e Verduras">
          </md-grid-tile>
          <md-grid-tile ng-click="ctrl.setCategoriaSelecionada(2)">
            <img ng-src="assets/images/icones_busca/temperos.png" style="width: 100%" alt="Ervas">
          </md-grid-tile>
          <md-grid-tile ng-click="ctrl.setCategoriaSelecionada(3)">
            <img ng-src="assets/images/icones_busca/frutas.png" style="width: 100%" alt="Frutas">
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
  </div>

  <div>
    <md-subheader>
      <%= strings.LOCALE %>
    </md-subheader>

    <div
      layout="row"
      layout-padding>

      <md-input-container>
        <label for="uf_select">
          <%= strings.UF %>
        </label>

        <md-select
          id="uf_select"
          ng-change="ctrl.setSearched()"
          ng-model="ctrl.filtros.estado">
        
          <md-option
            ng-repeat="estado in ctrl.estados"
            ng-value="estado.sigla"
            ng-bind="estado.nome"></md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <label for="cidade">
          <%= strings.CITY %>
        </label>

        <input
          id="cidade"
          ng-model="ctrl.filtros.cidade" />
      </md-input-container>
    </div>
  </div>

  <div 
    layout="column"
    layout-padding="true">

    <md-button
      class="md-primary md-raised"
      aria-label="<%= strings.DO_SEARCH %>"
      md-ripple-size="full"
      ng-click="ctrl.carregarOfertas(ctrl.filtros)">

      <%= strings.DO_SEARCH %>
    </md-button>
  </div>
</md-content>