<md-toolbar
  layout="row"
  class="md-toolbar-tools">

  <md-button
    aria-label="button-label"
    class="md-icon-button"
    ng-click="sidenav.toggle()">

    <md-icon md-font-set="material-icons">menu</md-icon>
  </md-button>

  <h1
    class="md-title"
    flex
    md-truncate>Busca</h1>
</md-toolbar>

<md-toolbar
    class="md-toolbar-tools"
    layout="row"
    md-ripple-size="full"
    md-scroll-shrink="true">

    <md-autocomplete
        placeholder="<%= strings.WHAT_ARE_YOU_LOOKING_FOR %>"
        flex="grow"
        md-no-cache="true"
        md-search-text="ctrl.searchText"
        md-items="produto in ctrl.categorias[ctrl.filtros.Categoria - 1].Produtos | filter:ctrl.searchText"
        md-clear-button="true"
        md-item-text="produto.nome"
        md-selected-item="ctrl.filtros.Produto">

        <md-item-template>{{produto.nome}}</md-item-template>

        <md-not-found><%= strings.RESULT_NOT_FOUND %></md-not-found>
    </md-autocomplete>

    <md-button
        aria-label="Open filters button"
        class="md-icon-button"
        ng-show="ctrl.viewState === 'resultados'"
        ng-click="ctrl.setViewState('filtros')">

        <md-icon>filter_list</md-icon>
    </md-button>
</md-toolbar>

<md-tabs
    class="md-primary"
    ng-show="ctrl.viewState === 'resultados'"
    md-no-ink="true"
    md-stretch-tabs="always">

    <md-tab
        label="Lista"
        ng-click="ctrl.setResultViewState('lista')"></md-tab>

    <md-tab
        label="Mapa"
        ng-click="ctrl.setResultViewState('mapa')"></md-tab>
</md-tabs>

<md-progress-linear
  ng-show="loading"
  md-mode="inderterminate"></md-progress-linear>

<div
  layout="column"
  ng-show="ctrl.viewState === 'filtros'">

  <%- include('partials/filtros.ejs'); %>
</div>

<div
  layout="column"
  ng-show="ctrl.resultViewState === 'lista'">

  <%- include('partials/resultados.ejs'); %>
</div>

<div
  layout="column"
  ng-show="ctrl.resultViewState === 'mapa'"
  ng-init="ctrl.resetarMapa()">

  <%- include('partials/mapa.ejs'); %>
</div>